

body {
    background: hsl(219, 52%, 94%);
    max-width: 1440px;
    margin: auto;
    
}

.super-div {
    max-width: 100%;
    margin: auto;
    background-color:   hsl(219, 52%, 94%);
    padding: 20px;
}

.container {
    max-width: 240px;
    margin: 120px auto;
    background: #fff;
    padding: 15px;
    border-radius: 10px ;
    text-align: center;

    font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.texts {
    max-width: 268px;
    margin: auto;
}


p {
    color: gray;
    font-size: 14px;
}

@media(max-width:375px) {
    body {
    background: hsl(219, 52%, 94%);
    max-width: 375px;
    margin: auto;
    
}

.super-div {
    max-width: 100%;
    margin: auto;
    background-color:   hsl(219, 52%, 94%);
    padding: 20px;
}

.container {
    max-width: 240px;
    margin: 120px auto;
    background: #fff;
    padding: 15px;
    border-radius: 10px ;
    text-align: center;

    font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.texts {
    max-width: 268px;
    margin: auto;
}


p {
    color: gray;
    font-size: 14px;
}
}

/* @media(max-width:375px) {
    body {
        max-width: 375px;
        margin: auto;
    }

    .super-div {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

    .container {
        width: 100%;
        margin: 120px auto;
    }
} */